<!-- NAVBAR -->
<div class='nav-bar'>
	<div class='container is-hidden-touch' style='font-size:2rem'><!-- 
		<div routerLink='/home' class='nav-bar-brand'> GaragePlug </div> -->
		<img routerLink='/home' src='assets/images/logo.png'>
	</div>
	<div class='is-hidden-desktop has-text-centered' >
		<img routerLink='/home' src='assets/images/logo.png'>
	</div>
</div>

<div class='box-container container has-padding-bottom-50' >
	<div class='is-size-5'>Please select your car type</div>
	<br>
	<div class='services-container columns is-mobile is-multiline is-gapless'>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('1')">
				<img src='car-icon' src='assets/images/sedan.webp' >
				<br><br>
				Sedan
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('2')">
				<img src='car-icon' src='assets/images/minivan.webp' >
				<br><br>
				Mini-van
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('3')" >
				<img src='car-icon' src='assets/images/city-car.png' >
				<br><br>
				City Car
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('4')">
				<img src='car-icon' src='assets/images/sports.png' >
				<br><br>
				Sports
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('5')">
				<img src='car-icon' src='assets/images/suv.png' >
				<br><br>
				SUV
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('6')">
				<img src='car-icon' src='assets/images/truck.png' >
				<br><br>
				Truck
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('7')">
				<img src='car-icon' src='assets/images/van.png' >
				<br><br>
				Van
			</div>
		</div>
		<div class='column is-4 has-text-centered has-padding-10'>
			<div class='service-btn' (click)="selectCar('8')">
				<img src='car-icon' src='assets/images/cabriolet.png' >
				<br><br>
				Cabriolet
			</div>
		</div>
	</div>
	<br>
</div>
<br><br><br>
