<script src="assets/bulma-calendar.min.js"></script>
<!-- NAVBAR -->
<div class='nav-bar'>
	<div class='container is-hidden-touch' style='font-size:2rem'><!-- 
		<div routerLink='/home' class='nav-bar-brand'> GaragePlug </div> -->
		<img routerLink='/home' src='assets/images/logo.png'>
	</div>
	<div class='is-hidden-desktop has-text-centered' >
		<img routerLink='/home' src='assets/images/logo.png'>
	</div>
</div>

<div class='box-container container has-padding-bottom-50' >
	<span style='font-weight: 600; letter-spacing: 2px'>SERVICE NUMBER</span>
	<br><br><br>
	<i class='fa fa-check-circle' style='color: green'> Your Payment was successful !</i>
	<div class='divider'></div>
	<br><br>
	<div class='has-text-centered'>
	Please present this service number to the reception desk while you visit. Thank you for using our services.
</div>
	<br><br>
	<div class='has-text-centered' style='font-size:3rem; font-weight:600'>{{ serviceno }}</div>
</div>
<br><br><br>
