.box-container{
	margin-top: 2em;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #b9b9b9;
	padding:10px;
}
.services-container{
	margin-top:1em;
}

.box-header{
	padding-top:2em;
	font-size:1rem;
	letter-spacing: 2px;
	font-weight: 600;
}
.service-icon{
	min-width: 1em;
	max-width: 1em;
	min-height: 1em;
	max-height: 1em;
	margin:0px auto;
}
.service-btn{
	padding:10px;
}
.isSelected1{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected2{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected3{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected4{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected5{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected6{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected7{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected8{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}
.isSelected9{
	border-radius: 5px;
	background-color: rgba(20, 177, 53, 0.4);
}

@media only screen and (max-width: 600px) {
	.box-container {
		margin-right: 10px;
		margin-left: 10px;
	}
}
.submit-serv-select{
	display: inline-block;
	background-color: #1f8465;
	color: white;
	padding: 7px 15px;
	cursor: pointer;
	transition: 0.3s;
}
.submit-serv-select:hover{
	background-color: #179c73;
	color: white;
}